.numRows {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rowOne, .rowTwo, .rowThree, .rowFour {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.numOne, .numTwo, .numThree, .numFour, .numFive, .numSix, .numSeven, .numEight, .numNine, .numZero, .decimal {
    padding: 10px;
}