.nonIntegerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.allClear, .integer, .percentage {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 16px;
    margin-bottom: 6px;
    padding: 20px;
    border-style: solid;
    font-size: 30px;
    background-color: rgb(211, 206, 206);
    border-radius: 50%;
    font-size: 32px;
}

.divide, .multiply, .subtract, .addition, .equals {
    margin: 24px 8px;
    padding: 20px;
    border-style: none;
    font-size: 32px;
    border-radius: 50%;
    color: white;
    background-color: rgb(247, 158, 75);
}